.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 20vh; /* Adjust as needed */
    background-image: url('../../../assests/knowmore.jpg');
  }
  
  .btn {
    padding: 40px 80px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  
     box-sizing: border-box;
    appearance: none;
    /* background-color: transparent; */
    border: 2px solid red;
    border-radius: 0.8em;
    /* color: white; */
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
   
    /* &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    } */
   
  
    border-color: red;
    /* color: #fff; */
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    transition: all 0.1s ease-in-out;
    
    &:hover {
       background-color: white;
       color: red;
    border-color: red;
      box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;

}}


/* ----------------------------------------------------------> */

 /* form{
    position: absolute;
    padding: 4vh;
    align-items: center ;
    border-radius: 5%;
    top: 10rem;
    width: 50%;
    height: 60%;
    background-color: bisque;
      display: flex;
  flex-direction: column;
  gap: 1rem;  
  align-items: center;
  justify-content: center;

} */

 


/* form {
  position: absolute;
  padding: 4vh;
  border-radius: 5%;
  top: 10rem;
  width: 50%;
  height: 60%;
  background-color: bisque;

}

.input-field,
.years,
.date,
.resumeFile {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field:focus,
.years:focus,
.date:focus,
.resumeFile:focus {
  outline: none;
  border-color: #007bff; 
}



label {
  font-weight: bold;
}

.years {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.years:focus {
  outline: none;
  border-color: #007bff; 
} */ 

/* input{
  width: 80%;
  padding: 2%;
  border-radius: 1lvb;
}

#submit{
  padding: 20px;
  width: 50%;

} */